In [ ]:
#In this notebook, I will be Creating a database in PostgreSQL
#I will be using the psycopg2 library 
#With the psycopg2 library, I will write DDL SQL queries in this ipynb file
#These DDL queries will be census sourced data from the Oppurtunity Atlas

In [36]:
import psycopg2 as pg2 
import pandas as pd 
import openpyxl

url = r'/Users/christophermarshall/Documents/Data Analysis Portfolio/Date Pipelines/Data Pipeline Ex-3 - Census/Census Project 2/econ_data.xlsx'
data = pd.read_excel(url, sheet_name='Median Rent 2012-2016') #median rent 2012-2016
data_append = data['Name'].str.split(',', expand=True)
data = pd.merge(data, data_append, left_index=True, right_index=True)
data.rename(columns={0:'County', 1:'State','Median_Rent_2012-16': 'Median Rent'}, inplace=True)
data = data[['County','State', 'Median Rent']]

data2 = pd.read_excel(url, sheet_name='HS Grad Rate') #HS grad rate 
data_append2 = data2['Name'].str.split(',', expand=True)
data2 = pd.merge(data2, data_append2, left_index=True, right_index=True)
data2.rename(columns={0:'County', 1:'State','High_School_Graduation_Rate_rP_gP_pall': 'HS Grad Rate'}, inplace=True)
data2 = data2[['County','State', 'HS Grad Rate']]

data3 = pd.read_excel(url, sheet_name='CLG Grad Rate') #College Grad Rate
data_append3 = data3['Name'].str.split(',', expand=True)
data3 = pd.merge(data3, data_append3, left_index=True, right_index=True)
data3.rename(columns={0:'County', 1:'State','College_Graduation_Rate_rP_gP_pall': 'College Grad Rate'}, inplace=True)
data3 = data3[['County','State', 'College Grad Rate']]

data4 = pd.read_excel(url, sheet_name='HSHLD Income Age 35') #Household Income at age 35
data_append4 = data4['Name'].str.split(',', expand=True)
data4 = pd.merge(data4, data_append4, left_index=True, right_index=True)
data4.rename(columns={0:'County', 1:'State','Household_Income_at_Age_35_rP_gP_pall': 'Household Income Age 35'}, inplace=True)
data4 = data4[['County','State', 'Household Income Age 35']]

data5 = pd.read_excel(url, sheet_name='Job Growth Rate') #Job growth rate, 2004 - 2013
data_append5 = data5['Name'].str.split(',', expand=True)
data5 = pd.merge(data5, data_append5, left_index=True, right_index=True)
data5.rename(columns={0:'County', 1:'State','Job_Growth_Rate_from_2004_to_2013': 'Job Growth Rate'}, inplace=True)
data5 = data5[['County','State', 'Job Growth Rate']]

data6 = pd.read_excel(url, sheet_name='Population Density') #Population density
data_append6 = data6['Name'].str.split(',', expand=True)
data6 = pd.merge(data6, data_append6, left_index=True, right_index=True)
data6.rename(columns={0:'County', 1:'State','Job_Growth_Rate_from_2004_to_2013': 'Job Growth Rate'}, inplace=True)
#data6 = data6[['County','State', 'Job Growth Rate']]

data7 = pd.read_excel(url, sheet_name='Hrly Wage at 35') #Hourly wage at 35
data8 = pd.read_excel(url, sheet_name='Hrs Worked Per Week at 35') #Hours worked per week at age 35
data9 = pd.read_excel(url, sheet_name='Job Density 2013') #Job density
data6

,cty,Name,Population_Density_in_2010,0,1
0,cty36061,"New York County, NY",69474.0000,New York County,NY
1,cty36047,"Kings County, NY",35372.0000,Kings County,NY
2,cty36005,"Bronx County, NY",32904.0000,Bronx County,NY
3,cty36081,"Queens County, NY",20555.0000,Queens County,NY
4,cty06075,"San Francisco County, CA",17178.0000,San Francisco County,CA
...,...,...,...,...,...
3216,cty02185,"North Slope Borough, AK",0.1063,North Slope Borough,AK
3217,cty02282,"Yakutat City and Borough, AK",0.0865,Yakutat City and Borough,AK
3218,cty02164,"Lake and Peninsula Borough, AK",0.0690,Lake and Peninsula Borough,AK
3219,cty02290,"Yukon-Koyukuk Census Area, AK",0.0384,Yukon-Koyukuk Census Area,AK
3220,cty02158,"Kusilvak Census Area, AK",NaN,Kusilvak Census Area,AK